AddDefaultCharset UTF-8

Options -Indexes

<Files ~ "\.inc$">  
	Order Allow,Deny
	Deny from All
</Files>

ErrorDocument 400 /Kuenstlerwebseite/error.php
ErrorDocument 401 /Kuenstlerwebseite/error.php
ErrorDocument 403 /Kuenstlerwebseite/error.php
ErrorDocument 404 /Kuenstlerwebseite/error.php
ErrorDocument 500 /Kuenstlerwebseite/error.php